:root {
	--background-color: lightgray;
	--page-color: white;
}

body {
	margin: 0;
}

hr {
	height: 0;
	color: inherit;
	border-style: solid;
}

@media screen {
	:root {
		--page-min-height: auto;
	}

	html {
		display: flex;
		justify-content: center;
		background-color: var(--background-color);
	}

	body {
		width: 100%;
		max-width: var(--page-width);
		height: fit-content; /* Chrome 120.0 */
		margin: var(--page-gap-y) auto;
	}

	body > div > .page {
		background-color: var(--page-color);
		min-height: var(--page-min-height);
		padding: var(--page-padding);
	}

	body > div > .page + .page {
		margin-top: var(--page-gap-y);
	}

	body > div > .page > *:first-child {
		margin-top: 0;
	}
}

@media print {
	body > div > .page {
		page-break-after: always;
	}

	body > div > :not(.page) {
		display: none;
	}
}
